<nav class="navbar">
    <!-- <div class="site-title">
      <a href="/"><h1>SDEV255</h1></a>
    </div> -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/viewSchedule">View Schedule</a></li>
      <li><a href="/courses/create">Create/Edit/Delete</a></li>
      <li><a href="/addClasses">Add/Drop Classes</a></li>
    </ul>
  </nav>
