<nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/viewSchedule">View Courses</a></li>
      <li><a href="/courses/create">Create/Edit/Delete</a></li>
      <li><a href="/addClasses">Add/Drop Classes</a></li>
    </ul>
</nav>