<%- include("./partials/head.ejs") %>
<div class="login-forms">
  <form action="/signup">
   <h2>Sign Up</h2>
   <img src="img/graduates.png " width=120px, height=120px alt="Graduates">
   <label for="username">Username</label>
   <input type="text" name="username"  />
   <div class="username error"></div>
   <label for="password">Password</label>
   <input type="password" name="password"  />
   <div class="password error"></div>

     <button type="submit">Sign Up</button>
  </form>
  
    <form id="teacher-signup" action="/signup">
     <h2>Sign Up</h2>
     <img src="img/teacher.png " width=120px, height=120px alt="Teacher">
     <label for="username">Username</label>
     <input type="text" name="username"  />
     <div class="username error"></div>
     <label for="password">Password</label>
     <input type="password" name="password"  />
     <div class="password error"></div>

       <button type="submit">Sign Up</button>
    </form>
</div>



<%- include('partials/footer'); -%>

<script>
  const studentSignUp = document.querySelector('form');
  const teacherSignUp = document.getElementById('teacher-signup');
  const usernameError = document.querySelector('.username.error');
  const passwordError = document.querySelector('.password.error');

  studentSignUp.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';

    // get values
    const username = studentSignUp.username.value;
    const password = studentSignUp.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({ username, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });

  teacherSignUp.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = '';
    passwordError.textContent = '';

    // get values
    const username = teacherSignUp.username.value;
    const password = teacherSignUp.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({username, password,}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        usernameError.textContent = data.errors.username;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
 </script>
